<!DOCTYPE html>
<html>
<head>
  <title>MobileAppManager</title>
  <%= stylesheet_link_tag    "mobile_app_manager/application", :media => "all" %>
  <%= javascript_include_tag "mobile_app_manager/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
